

// colors
$background-color: #f5f6fa;
$dark-background: #ede3d8;
$grey: #ededed;
$grey-background: #f6f6f6;
$dark-grey: #616161;
$white: #ffffff;
$black: #000000;
$red: #d0021b;
$gold: #f5a623;
$font-light: #4a4a4a;

// spacing
$base-spacing: 1rem;
$base-font: 1.6rem;

// width
$base-width: 10rem;

//screen sizes
$small-tablet: 767px;
$big-tablet: 991px;
$mobile: 476px;




